# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv/
.env

# IDEs
.vscode/
.idea/

# Static files (if collected)
static_root/
